body {
    background-color:#2563eb ;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 200px auto;
}

.topPanel {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.topLeft {
    display: grid;
    grid-template-rows: 100px 2fr;
}

.topRight {
    display: grid;
}




#proPic {
    height: 90px;
    border-radius: 50%;
}

#smallProPic {
    height: 50px;
    border-radius: 50%;
}