body {
    background-color:#075985 ;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 300px auto;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
}

.topPanel {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px;
    background-color: #7dd3fc;
}

.topLeft {
    display: grid;
    grid-template-rows: 60px 3fr;
}

#greetBox {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

#greetBox > img {
    grid-row: 1/2;
    grid-column: 1/2;
}



.topRight {
    display: grid;
    grid-template-rows: 1fr 1fr;
}




#proPic {
    height: 90px;
    border-radius: 50%;
}

#smallProPic {
    height: 50px;
    border-radius: 50%;
}